.idea/
project/notebooks/.ipynb_checkpoints
project/.bash_history
bin/
lib/
pyvenv.cfg
lib64
etc/
share/
scripts/.DS_Store
scripts/solar_system/.DS_Store
env/
log.txt
.DS_Store
scripts/shape/__pycache__
projects/proj_3_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/__pycache__
projects/proj_3_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/__pycache__
projects/proj_3_gezondheidszorg/rest_server/medisch_centrum_randstad/db.sqlite3
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/__pycache__/
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/__pycache__/
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/management/commands/__pycache__/
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/migrations/__pycache__/
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/migrations/0001_initial.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/__pycache__
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/__pycache__
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/management/commands/__pycache__
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/migrations/__pycache__
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/migrations/0001_initial.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/site.webmanifest
practica/week1/notebooks/numpy/csv/.ipynb_checkpoints/
practica/week1/notebooks/neural/
practica/week1/notebooks/variables/.ipynb_checkpoints/
practica/week1/.ipynb_checkpoints/
practica/pics/.ipynb_checkpoints/mars.nasa-checkpoint.jpg
practica/pip/.ipynb_checkpoints/requirements-checkpoint.txt
practica/week2/.ipynb_checkpoints/
scripts/pytorch/backprop_example.py
practica/scikit-learn.ipynb
practica/timer.py
practica/week2/notebooks/.ipynb_checkpoints/
practica/pics/.ipynb_checkpoints/mercury-checkpoint.jpg
practica/csv/.ipynb_checkpoints/planets-checkpoint.csv
practica/week2/notebooks/.ipynb_checkpoints/dictionaries_with_solutions1-checkpoint.ipynb
practica/csv/.ipynb_checkpoints/marslander-checkpoint.csv
practica/.ipynb_checkpoints/matrix_example-checkpoint.ipynb
practica/.ipynb_checkpoints/scikit-learn-checkpoint.ipynb
practica/week3/.ipynb_checkpoints/K means clustering - hierarchical-checkpoint.ipynb
practica/week3/.ipynb_checkpoints/k-means-checkpoint.ipynb
practica/week3/.ipynb_checkpoints/shopping-data-checkpoint.csv
practica/week2/notebooks/.ipynb_checkpoints/
/Pipfile.lock
/projects/proj_gezondheidszorg/rest_server/Pipfile.lock
projects/proj_gezondheidszorg/.ipynb_checkpoints/data_collection-checkpoint.ipynb
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/data/
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/migrations
practica/week3/sql/notebook/.ipynb_checkpoints/sql-checkpoint.ipynb
practica/week3/sql/notebook/.ipynb_checkpoints/sql_solutions-checkpoint.ipynb
