.idea/
project/notebooks/.ipynb_checkpoints
project/.bash_history
notebooks/.ipynb_checkpoints/
notebooks/*_answers.ipynb
notebooks/variables/.ipynb_checkpoints/
notebooks/examples
bin/
lib/
pyvenv.cfg
lib64
etc/
share/
notebooks/variables/.DS_Store
scripts/.DS_Store
scripts/solar_system/.DS_Store
env/
log.txt
.DS_Store
scripts/shape/__pycache__
projects/proj_3_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/__pycache__
projects/proj_3_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/__pycache__
projects/proj_3_gezondheidszorg/rest_server/medisch_centrum_randstad/db.sqlite3
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/__pycache__
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/__pycache__
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/management/commands/__pycache__
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/migrations/__pycache__
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/migrations/0001_initial.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/site.webmanifest
practica/week1/.ipynb_checkpoints/
practica/pics/.ipynb_checkpoints/mars.nasa-checkpoint.jpg
practica/week1/booleans_with_solutions.ipynb
practica/week1/numbers_with_solutions.ipynb
practica/week1/strings_with_solutions.ipynb
practica/week2/dictionaries_with_solutions.ipynb
practica/pip/.ipynb_checkpoints/requirements-checkpoint.txt
practica/week2/.ipynb_checkpoints/
scripts/pytorch/backprop_example.py
