[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter-client = "*"
jupyter-server = "*"
jupyter-telemetry = "*"
jupyter-core = "*"
jupyterhub = "*"
jupyterlab = "*"
jupyterlab-pygments = "*"
jupyterlab-server = "*"
jupyterthemes = "==0.20.0"
matplotlib = "*"
matplotlib-inline = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
