jupyter-client
jupyter-server
jupyter-telemetry
jupyter_core
jupyterhub
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterthemes==0.20.0
jupyter-client
jupyter-server
jupyter-telemetry
jupyter_core
jupyterhub
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterthemes==0.20.0
matplotlib
matplotlib-inline
numpy
