absl-py
aiohttp
aiosignal
alembic
anyio
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse
async-generator==1.10
async-timeout
attrs
Babel
backcall
backports.functools-lru-cache
beautifulsoup4
bleach
blinker==1.4
brotlipy
cached-property
cachetools
certifi==2022.6.15
certipy==0.1.3
cffi
charset-normalizer
click
cloudpickle
colorama
cryptography
cycler
cytoolz
dask
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
flatbuffers
flit_core
fonttools
frozenlist
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta==0.2.0
greenlet
grpcio
h11
h5py
idna
imagecodecs
imageio
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils==0.2.0
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-server
jupyter-telemetry
jupyter_core
jupyterhub
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterthemes==0.20.0
keras
Keras-Preprocessing
kiwisolver
lesscpy==0.15.0
locket
Mako
mamba
Markdown
MarkupSafe
mistune
multidict
munkres==1.1.4
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numexpr
oauthlib
opt-einsum
outcome
packaging
pamela==1.0.0
pandas==1.4.3
pandocfilters
parso
partd
pexpect
pickleshare
Pillow
pkgutil_resolve_name
ply==3.11
prometheus-client
prompt-toolkit
protobuf==3.20.1
psutil
ptpython==3.0.20
ptyprocess
pure-eval
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycosat
pycparser
pycurl==7.45.1
Pygments
PyJWT
PyOpenGL
pyOpenSSL
pyparsing
pyrsistent
pyshp
PySimpleGUI
PySocks
python-dateutil
python-json-logger
pytz
pyu2f
PyWavelets
PyYAML
pyzmq
requests
requests-oauthlib
richdem
ruamel.yaml.clib
scikit-image
scikit-learn
scipy==1.9.0
selenium
Send2Trash
sonar
SimPyLC==3.10.0
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stack-data
tables
termcolor
terminado
threadpoolctl
tifffile
tinycss2
toolz
tornado
tqdm
traitlets
trio
trio-websocket
typing_extensions
unicodedata2
urllib3
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug
whitebox
widgetsnbextension
wrapt
wsproto
xlrd
yarl
zipp
