Pillow
SimPyLC==3.10.0
ansible
bert-extractive-summarizer
deel-datasets
ipywidgets
joblib
jupyterlab
matplotlib
matplotlib
matplotlib-venn
numexpr
numpy
pathlib
ptpython
pyspark
python-spark-reader-library
scipy
seaborn
sentence-transformers
sklearn
spacy
transformers
widgetsnbextension